<div class="row"  style="text-align:center;margin-top:20%;">
	<h2>正在苦惱暑假要去哪玩嗎？</h2>
	<p style="margin-bottom: 3em">找一個跟自己姓名的筆畫數一樣的地方，一個人去冒險吧！</p>

	<div class="col-md-6 col-md-offset-3">
	  <%= form_tag("/search", method: "get", class:"") do %>
		<div class="input-group">
			<%= text_field_tag :str, params[:str], class: " form-control", placeholder: "輸入中文姓名即可開始" %>
			<span class="input-group-btn">
		  	<%= submit_tag "搜尋", :class => "btn btn-primary"%>
		  </span>
		</div>	
		<% end %>
		
	</div>	
	<div class="col-md-6 col-md-offset-3" style="margin-top:3em;color:gray;text-align:center">
		<small>或者來找<a href="https://github.com/chiunhau">作者</a>玩也可以喔XD</small>
		<div class="fb-like" data-href="https://go-somewhere.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="display:block;margin:20px;"></div>
	</div>
</div>